@using Microsoft.AspNetCore.Identity
@using NguyenMinhThang.Models
@* @model IEnumerable<B3WebsiteBanHang.Models.Product> *@
@model PaginatedList<B3WebsiteBanHang.Models.Product>
@inject SignInManager<ApplicationUser> SingInManager

<table id="products" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Category
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <image src="@item.ImageUrl" alt="Product Image" style="max-width:200px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>   |
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" method="post" asp-route-id="@item.Id">Order</a>
                    @* <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                <input type="hidden" name="Id" value="@item.Id"/>
                <label for="quantity">Số Lượng: </label>
                <input type="number" id="quantity" name="quantity" value="1" min="1"/>
                <button class="btn btn-info" type="submit">Thêm vào giỏ hàng</button>
                </form>      *@
                </td>
            </tr>
        }
    </tbody>
</table>